{% extends "instagram/base.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="p-2"></div>
      <div class="p-2"></div>
      <div class="align-middle d-flex justify-content-center ">
          <img class="rounded-circle" src="https://www.bing.com/th?id=AMMS_ced80f815b1c881c1f7de5966687dd0a&w=110&h=110&c=7&rs=1&qlt=80&pcl=f9f9f9&cdv=1&pid=16.1">
      </div>
      <div class="p-2"></div>
      <div class="p-2"></div>
      <div class="p-2"></div>
    </div>
        <div class="col-8">
          <div class="p-2"></div>
          <div class="p-2"></div>
          <div>
                <div class="d-inline col-2">gutentag1026</div>
                <div class="d-inline col-2">
                      <a class="btn btn-light border border-secondary" href="#" role="button">Edit Profile
                      </a>
                </div>
                <div class="d-inline col-2">
                      <a class="" href="#">
                          <i class="fas fa-cog"></i>
                      </a>
                </div>
          </div>
          <div class="mt-2">
            <div class="d-inline col-6">posts</div>
            <div class="d-inline col-1"> <a class="" href="#">followers</a></div>
            <div class="d-inline col-1"> <a class="" href="#">following</a></div>
          </div>
            
          <div class="p-2"></div>
          <div class="p-3">some introductory</div>
          
          <div class="p-5"></div>
        </div>
 </div>
    <div class="row col-10 justify-content-md-center">
      
    <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"><i class="fas fa-border-all"></i>POSTS</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"><i class="fas fa-tv"></i>IGTV</a>
      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false"><i class="far fa-bookmark"></i>SAVED</a>
      <a class="nav-item nav-link" id="nav-tagged-tab" data-toggle="tab" href="#nav-tagged" role="tab" aria-controls="nav-tagged" aria-selected="false"><i class="fas fa-tags"></i>TAGGED</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"> 
                <div class="row col-12 justify-content-md-center">
                      <div class="card" style="height: 12rem; width: 12rem;">
                          <img class="" src="..." class="card-img-top" alt="...">
                      </div>
                      <div class="card" style="height: 12rem; width: 12rem;">
                          <img class="" src="..." class="card-img-top" alt="...">
                      </div>
                      <div class="card" style="height: 12rem; width: 12rem;">
                          <img class="" src="..." class="card-img-top" alt="...">
                      </div>
                      <div class="card" style="height: 12rem; width: 12rem;">
                          <img class="" src="..." class="card-img-top" alt="...">
                      </div>
                      <div class="card" style="height: 12rem; width: 12rem;">
                          <img class="" src="..." class="card-img-top" alt="...">
                      </div>
                      <div class="card" style="height: 12rem; width: 12rem;">
                          <img class="" src="..." class="card-img-top" alt="...">
                      </div>
                      <div class="card" style="height: 12rem; width: 12rem;">
                          <img class="" src="..." class="card-img-top" alt="...">
                      </div>
                      <div class="card" style="height: 12rem; width: 12rem;">
                          <img class="" src="..." class="card-img-top" alt="...">
                      </div>
                </div>
         </div>
    
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
               
                             <br /><br />
                             <br /><br />
               <div class="row col-12 justify-content-md-center">
                               <br /><br />
                  <div class="row col-12 justify-content-md-center">
                   
                      <i class="fas fa-tv"></i>
                  </div>  
                       <br /><br />
                  <div class="row col-12 justify-content-md-center">
                  <h4>Upload a Video</h4>
                  </div>
                    <br />
                  <div class="row col-12 justify-content-md-center">
                      <p>Videos must be between 1 and 60 minutes long.</p>    </div>
                     <br /><br />
                     <div class="row col-12 justify-content-md-center">
                      <a class="btn btn-primary" href="#" role="button">Upload</a> 
                    </div>
                 
              </div>
      </div>
  
      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                             <br /><br />
                             <br /><br />
            <div class="row col-12 justify-content-md-center"> 
                       <div class="row col-12 justify-content-md-center"> 
                             <i class="far fa-bookmark"></i>
                       </div>
                                        <br />
                       <div class="row col-12 justify-content-md-center"> 
                             <h4>Save</h4>
                      </div>
  
                        <div class="row col-6 justify-content-md-center"> 
                          <p class="text-left">Save photos and videos that you want to see again. No one is notified, and only you can see what you've saved.</p>
                        </div>
                         
  
          </div>
     </div>
            <div class="tab-pane fade" id="nav-tagged" role="tabpanel" aria-labelledby="nav-tagged-tab">
                             <br /><br />
                             <br /><br />
                    <div class="row col-12 justify-content-md-center"> 
                             <div class="row col-12 justify-content-md-center">
                               <i class="fas fa-camera-retro"></i>
                             </div>
                             <div class="row col-12 justify-content-md-center"> 
                                   <h4>Photo of you</h4>
                             </div>
                                  
                             <div class="row col-12 justify-content-md-center">
                                   <p>When people tag you in photos, they'll appear here.</p> 
                             </div>
                    </div>
            </div>
      </div>
     </div>
   </div>
  
{% endblock content %}