{% extends "instagram/base.html" %}
{% block content %}
<form method="POST">
    {% csrf_token %}
<div class="container m-5 parent"> 
    <div class="row justify-content-center">
        <div class="parent row col-6 border pt-3 pb-3 d-inline">
          <h3>Instagram</h3>
          <p class="text-muted col-12">Sign up to see photos and videos from your friends.</p>
          <a class="btn btn-primary col-8" href="#" role="button"><i class="fab fa-facebook-square"></i> Log In with Facebook</a>
      
          <br />
          <div class="row">
          <hr class="col-3 "><p class="text-muted m-2">OR</p><hr class="col-3">
          </div>
          {{ form }}
          <a class="btn btn-primary col-8 m-2" href="#" role="button" type="submit">Sign up</a><br />
          <small class="col-1 text-muted">By signing up, you agree to our Terms, Data Policy and Cookies Policy .</small>
     
        </div>       
   </div>
</div>
</form>
  
  
  <div class="row justify-content-center mt-3">
        <div class="parent row col-6 border pt-3 pb-3 d-inline">
            <small class="text-muted">
             Have an account?<a class="ml-2" href="#">Log In</a>  
            </small>
        </div>
  </div>

{% endblock content %}